
/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/* Basic comment */

/* ==========================================================================
   vars
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

$NS: '.tokyo';
$baseFontSize: 18px;

$font: 'Open Sans', '\6E38\30B4\30B7\30C3\30AF\4F53', 'Yu Gothic', YuGothic, '\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', Meiryo, '\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF', sans-serif;
$fontJa : '\6E38\30B4\30B7\30C3\30AF\4F53', 'Yu Gothic', YuGothic, '\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', Meiryo, '\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF', sans-serif;
$contentWidth: 1024px;
$blockMargin1: 80px;
$blockMargin2: 40px;

@mixin clearfix () {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table; }
  &:after {clear: both;}
}

/* ==========================================================================
   general
   ========================================================================== */
html{
  font-size: $baseFontSize;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  background: #F6F6F6;
}
body{
}
::-webkit-selection {background:#0df; color:#fff;}
::-moz-selection    {background:#0df; color:#fff;}
::selection         {background:#0df; color:#fff;}
a{
  color: #00B4DD;
}
.tokyo--alignCenter{
  text-align: center;
}
.tokyo--ja{
  font-family: $fontJa;
  font-size: 75%;
}

/* ==========================================================================
   pageHeader
   ========================================================================== */
// #{$NS}-pageHeader{
.tokyo-pageHeader{
  position: relative;
  min-width: $contentWidth;
  height: 250px;
  overflow: hidden;
  background: #000;
}
.tokyo-pageHeader__logo{
  img,
  canvas{
    display: block;
    margin: 0 auto;
  }
}
.tokyo-pageHeader__info{
  color: #FFF;
  text-align: right;
  position: absolute;
  left:50%;
  bottom:0;
  width: $contentWidth;
  margin-left:$contentWidth / -2;
}


/* ==========================================================================
   nav
   ========================================================================== */
.tokyo-pageNav{
  min-width: $contentWidth;
  border-top: 4px solid #00C4DD;
  border-bottom: 1px solid #00C4DD;
  box-shadow: 0 4px 4px rgba( 0, 0, 0, .2 );
  background: #fff;
  ul{
    font-size: 18px;
    list-style: none;
    display: table;
    width: $contentWidth;
    padding: 0;
    background: url( ../img/pageNav/bg_01.png ) no-repeat 50% 0;
    margin: -4px auto 0;
  }
  li{
    font-family: 'Audiowide', cursive;
    text-align: center;
    display: table-cell;
    padding: 16px 0 12px;
  }
  a, a:hover{
    color: #000;
    text-decoration: none;
    display: block;
    padding: 16px 0 12px;
    margin: -16px 0 -12px;
  }
}

/* ==========================================================================
   section
   ========================================================================== */
.tokyo-section{
  width: $contentWidth - 144;
  padding: 0 72px;
  margin: $blockMargin1 auto;
}
.tokyo-section__header{
  margin: 0 0 $blockMargin2 -72px;
  display: table;
  h1{
    font-size: 36px;
    font-family: 'Audiowide', cursive;
    position: relative;
    padding-bottom: 6px;
    margin: 0;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      left:0;
      bottom:0;
      display: block;
      height: 6px;
      border-radius:3px;
      background: #00DBFE;
    }
  }
}
.tokyo-section__image{
  margin: 30px -72px;
  img, iframe{
    display: block;
  }
}
/* ==========================================================================
   speakers
   ========================================================================== */
.tokyo-speakers{
  font-size: 0;
  margin: 20px -72px;
  text-align: center;
}
.tokyo-speakers__item{
  font-size: $baseFontSize;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  width: 190px;
  margin: 0 30px;
  & > a,
  & > a:hover{
    display: block;
    color: inherit;
    text-decoration: none;
  }
}
.tokyo-speakers__avator{
  width: 180px;
  border:5px solid #00DBFE;
  border-radius: 90px;
  img{
    display: block;
    border-radius: 90px;
  }
}
.tokyo-speakers__name{
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}
.tokyo-speakers__links{
  color: #00DBFE;
  ul{
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* ==========================================================================
   tokyo-slides
   ========================================================================== */
.tokyo-slides{
  @include clearfix();
  font-size: 0;
  width: 900px;
  margin: 0 -10px;
}
.tokyo-slides__item{
  font-size: $baseFontSize;
  vertical-align: top;
  display: inline-block;
  width: 430px;
  padding: 0 5px;
  margin-bottom: 10px;
}
.tokyo-slides__slide{
  display: block;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}
/* ==========================================================================
   scheduleTable
   ========================================================================== */
.tokyo-scheduleTable{
  margin: $blockMargin2 0;
  table{
    width: 100%;
  }
  tr:first-child{
    th,td{
      border-style: none;
    }
  }
  th{
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
    padding: 14px 20px 14px 0;
  }
  td{
    text-align: center;
    vertical-align: top;
    padding: 14px 0;
    border-top: 3px dashed #A9A9A9;
  }
}
.tokyo-scheduleTable__caption{
  font-weight: bold;
  padding: 0 0 14px;
}
.tokyo-scheduleTable__title{
  font-weight: bold;
}
.tokyo-scheduleTable__by{
  font-size: 75%;
}

/* ==========================================================================
   logos
   ========================================================================== */
.tokyo-logos{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    margin: 30px 0 80px;
    text-align: center;
  }
  a{
    display: inline-block;
  }
  img{
    display: block;
  }
}
/* ==========================================================================
   pageFooter
   ========================================================================== */
.tokyo-pageFooter{
  min-width: $contentWidth;
  background: #232323;
}
.tokyo-pageFooter__inner{
  color: #FFF;
  text-align: center;
  width: $contentWidth;
  margin: 160px auto 0;
  padding: 60px 0 120px;
}

/* ==========================================================================
   
   ========================================================================== */

/* ==========================================================================
   
   ========================================================================== */

/* ==========================================================================
   
   ========================================================================== */
